.header {
    position: sticky;
    top: 0;
    height: 100%;
    width: 100%;
    text-align: center;
    padding: 0.5em;
    box-shadow: 0 1px 6px 0 rgb(0 0 0 / 20%);
    z-index: 99;
    background-color: black;
}

.menuHamburger {
    float: left;
}

.menuHamburger button{
    color: white;
    margin: auto 0;
}

.menuLinksHamburger a{
    margin-bottom: 5%;
}


.menuLinksHamburger {
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0 auto;
}

.menuLinksHamburger a {
    font-size: 150%;
}

.header > a {
    color: white !important;
    font-weight: bold;
    font-size: 1em;
}

.header a{
    font-size: 1.6em;
}

.header > a:hover {
    text-decoration: none;
}

@media only screen and (max-width: 700px) {

    .menuHamburger {
        display: block;
    }

    .menu {
        display: none;
        background: none;
    }
}

@media only screen and (min-width: 700px) {
    .menuHamburger {
        display: none;
    }

    .menu {
        display: block;
        background: black;
    }

    .menuLinks{
        width: 60%;
        text-align: center;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin: 0 auto;
    }

    .menuLinks a{
        color: white !important;
        justify-content: space-between;
    }
}